# 參賽資格（#bh-competition-subject-requirements）

抓取時間：2026-09-21 18:48
來源：https://ht-hackathon.tw/tw/home#bh-competition-subject-requirements
來源：https://api.bhuntr.com/tw/cms/contest/81508

------------------------------------------------------------
參賽資格
  - Icon
參賽對象
高中職、大專院校學生及社會人士皆可組隊參賽。每隊須設隊長一名(須具備中華民國國籍)，以利後續聯絡事宜。(若參賽者未成年，須檢附法定代理人同意書。)
  - Icon
團隊人數
每隊人數 2-5 人，不開放同一人跨隊與個人參賽。每隊可增設至多 2 位指導老師(不限學校教授)，老師不列入團隊成員人數計算。
  - Icon
授權規範
入圍決賽之團隊，須提交著作財產權授權暨肖像授權同意書。
  - Icon
提案上限
本屆共有7道企業挑戰，每隊最多可投稿 7 件提案，但每項挑戰僅能投稿一件提案，不可使用同一件提案重複或混合投稿。報名系統採「一案一報名」方式，如團隊欲投稿多件提案，請分次報名及投稿。

===== CMS 競賽辦法：參賽資格 =====

｜參賽資格｜
 - 參與對象:高中職、大專院校學生及社會人士皆可組隊參賽。每隊須設隊長一名(須具備中華民國國籍)，以利後續聯絡事宜。(若參賽者未成年，須檢附法定代理人同意書。)
 - 團隊人數:每隊人數 2-5 人，不開放同一人跨隊與個人參賽。每隊可增設至多 2 位指導老師(不限學校教授)，老師不列入團隊成員人數計算。
 - 授權規範:入圍決賽之團隊，須提交著作財產權授權暨肖像授權同意書。
提案上限:本屆共有7道企業挑戰，每隊最多可投稿 7 件提案，但每項挑戰僅能投稿一件提案，不可使用同一件提案重複或混合投稿。
【提醒】報名系統採「一案一報名」方式，如團隊欲投稿多件提案，請分次報名及投稿。
截止日期:2026/10/14 (三) 13:00 初賽報名繳件截止
